body{
    background-image: url('../images/booksfriend.jpg');
    
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
    
    
  }
  .card
  {
      
        width: 700px;
    height:800px;
      margin-top: 50px;
      background:  #000044;
  
      color: white;
  
  
  }

.navbar{
    background:#3d0680;
    opacity: .75;
    
    width:100%;
      
}
#message{
    background-color:#3d0680;
  } 
  
.modal-content{
    background-color: #000044;

    padding: 20px;
    margin-top: 80px;
  }
  user-img{
    margin-top: -50px;
    margin-bottom: 35px;
  }
  
  .user-img img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  
  button{
   
    margin: 5px 0 25px;
  }
  
  .main-section{
    margin: 0 auto;
    margin-top: 100px;
    /* margin-left: 30px; */
    padding: 0;
  
  }


footer{
    
    color: white;
    background: #3d0680;
    opacity:.75 !important;
    
}
