<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            <%for(i=0;i<nav.length;i++){%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <%}%>
        </ul>
    
      </nav>
    </div>
  </header>
<body class="bgindex">
   
      
      
                                                      
                                                                                      
  <footer class="footer">


      
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="/"> Pustakam.com</a>
    </div>
    <!-- Copyright -->

</footer>
      
      
      <script src="js/bootstrap.min.js"></script>
     
    </body> 
</html>